@(articles: List[Article])(implicit flash: Flash, user: Option[User] = None)
@main("Super Simple Sample") {
  @if(flash.data.contains("message")){
    <div class='row'>
      <div class="alert alert-success" style="margin-left:30px;margin-top:20px;">@flash.get("message")</div>
    </div>
  }
  @if(flash.data.contains("error")){
    <div class='row'>
      <div class="alert alert-error" style="margin-left:30px;margin-top:20px;">@flash.get("error")</div>
    </div>
  }
  <div style="margin-top:20px;margin-bottom:20px;">
     @user match {
      case Some(u) => {
        @u.username     
         <a href="@routes.Auth.logout" class="btn btn-primary">Log out</a>
      }
      case None => {
        <a href="@routes.Auth.newUser" class="btn btn-primary">Register</a>
        <a href="@routes.Auth.login" class="btn btn-primary">Login</a>
      }
    }   
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>text</th>
        <th>author</th>
        <th>source</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @articles.map { article => 
        <tr>
          <td>@article.text</td>
          <td>@article.author</td>
          <td>@article.source</td>
          <td><a href="@routes.Admin.disableArticle(article.id.toString)">Remove</a></td>
        </tr>
      }
    </tbody>
  </table>
}