@(loginForm: Form[(String, String)])(implicit flash: Flash)

@import play.api.i18n._
@import views.html.helper._

@input(field: Field, label: String, fieldType: Symbol = 'text) = {
  <div class="control-group @if(field.hasErrors) {error}">
    <label class="control-label" for="@field.id">@label</label>
    <div class="controls">
      <input type="@fieldType.name" value="@field.value" name="@field.id" />
      @if(field.hasErrors){
        <span class="help-inline">
          @Messages(field.error.head.message)
        </span>
      }
    </div>
  </div>
}

@main("Login form") {

    @form(action = routes.UserController._login, 'class -> "form-horizontal") {

      <fieldset>
        <legend>Login</legend>
        @* GLOBAL ERROR/FLASH MESSAGE *@
        @loginForm.globalError.map { error => 
          <div class='row'>
            <div class="alert alert-error" style="margin-left:30px;margin-top:20px;">@error.message</div>
          </div>
        }
        @input(loginForm("username"), "Username")
        @input(loginForm("password"), "Password")
      </fieldset>
      <input type="submit" class="btn" value="Login"/>
    }
}