@(title: String)(content: Html)(implicit flash: Flash, user: Option[User] = None)

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>@title</title>
        
        <!-- FAVICON -->
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        
        <!-- TWITTER BOOTSTRAP -->
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-responsive.min.css")">
    </head>
    <body>
      <div class="container">
	    @if(flash.data.contains("message")){
		  <div class='row'>
		    <div class="alert alert-success" style="margin-left:30px;margin-top:20px;">@flash.get("message")</div>
		  </div>
		}
		@if(flash.data.contains("error")){
		  <div class='row'>
		    <div class="alert alert-error" style="margin-left:30px;margin-top:20px;">@flash.get("error")</div>
		  </div>
		}
      
      
      	@user match {
	      case Some(u) => {
	        @u.username  @u.admin  
	         <a href="@routes.Auth.logout" class="btn btn-primary">Log out</a>
	      }
	      case None => {
	        <a href="@routes.Auth.newUser" class="btn btn-primary">Register</a>
	        <a href="@routes.Auth.login" class="btn btn-primary">Login</a>
	      }
	    }
        @content
      </div>
    </body>
</html>
