@(title: String)(content: Html)(implicit flash: Flash, user: Option[User] = None)

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>@title</title>
        
        <!-- FAVICON -->
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        
        <!-- TWITTER BOOTSTRAP -->
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-responsive.min.css")">
    </head>
    <body>
      
      <div class="navbar">
		  <div class="navbar-inner">
		    <div class="container" style="width: 1170px;margin-left: auto;margin-right: auto;">
		 
		      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
		      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </a>
		 
		      <!-- Be sure to leave the brand out there if you want it shown -->
		      <a class="brand" href="@routes.Application.index">Highscores</a>
		 
		      <!-- Everything you want hidden at 940px or less, place within here -->
		      <div class="nav-collapse collapse">
		        
              <ul class="nav">
				@user match {
		          case Some(u) => {
		             @if(u.admin) {
		               <li><a href="@routes.Admin.userList" class="nav">Users</a></li>
		             }
		             <li><a href="@routes.Auth.logout" class="nav">Log out @u.username</a>
		             </li>
		          }
		          case None => {
		            <li><a href="@routes.Auth.register" class="nav">Register</a></li>
		            <li><a href="@routes.Auth.login" class="nav">Login</a></li>
		          }
		        }   
                </ul>
		        <!-- .nav, .navbar-search, .navbar-form, etc -->
		      </div>
            		 
		    </div>
		  </div>
		</div>
      
      <div class="container">

	    @if(flash.data.contains("message")){
		  <div class='row'>
		    <div class="alert alert-success" style="margin-left:30px;margin-top:20px;">@flash.get("message")</div>
		  </div>
		}
		@if(flash.data.contains("error")){
		  <div class='row'>
		    <div class="alert alert-error" style="margin-left:30px;margin-top:20px;">@flash.get("error")</div>
		  </div>
		}
      
        @content
      </div>
    </body>
</html>
