@(articleForm: Form[models.Article])(implicit flash: Flash)

@import play.api.i18n._
@import views.html.helper._

@input(field: Field, label: String, fieldType: Symbol = 'text) = {
  <div class="control-group @if(field.hasErrors) {error}">
    <label class="control-label" for="@field.id">@label</label>
    <div class="controls">
      <input type="@fieldType.name" value="@field.value" name="@field.id" />
      @if(field.hasErrors){
        <span class="help-inline">
          @Messages(field.error.head.message)
        </span>
      }
    </div>
  </div>
}
@main("Super Simple Sample") {

    @form(action = routes.Admin.insertNewArticle, 'class -> "form-horizontal") {

      <fieldset>
        <legend>Registration</legend>
        @* GLOBAL ERROR/FLASH MESSAGE *@
        @articleForm.globalError.map { error => 
          <div class='row'>
            <div class="alert alert-error" style="margin-left:30px;margin-top:20px;">@error.message</div>
          </div>
        }
        @textarea(articleForm("text"))
        @input(articleForm("author"), "author")
        @input(articleForm("source"), "source")
      </fieldset>
      <input type="submit" class="btn" value="Add Article"/>
    }
}