@(users: List[User])(implicit flash: Flash, user: Option[User] = None)
@main("Super Simple Sample") {
  <h1>Admin panel</h1>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Username</th>
        <th>Real Name</th>
        <th>Admin</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @users.map { user => 
        <tr>
          <td>@user.username</td>
          <td>@user.realName</td>
          <td><a href="@routes.Admin.toggle">@user.admin</a></td>
          <td><a href="@routes.Admin.removeUser(user.id.toString)">Remove</a></td>
        </tr>
      }
    </tbody>
  </table>
}
